.marker {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(all 0.2s ease-in-out);
  .hex-code {
    visibility: hidden;
    color: white;
    font-size: 0.8rem;
    font-family: $font-body;
  }
  &:hover .hex-code {
    visibility: visible;
  }
  .black {
    color: black;
  }
  &:hover {
    width: auto;
    padding: 1rem 1.2rem 0.95rem 1.1rem;
  }
}

.osaka {
  .marker-1 {
    @extend .marker;
    background-color: #DCE9F9;
  }
  .marker-2 {
    @extend .marker;
    background-color: #D7C276;
  }
}

.kyoto {
  .marker-1 {
    @extend .marker;
    background-color: #B22A01;
  }
  .marker-2 {
    @extend .marker;
    background-color: #D7C276;
  }
  .marker-3 {
    @extend .marker;
    background-color: #4D5969;
  }
}

.nara {
  .marker-1 {
    @extend .marker;
    background-color: #4F91DB;
  }
  .marker-2 {
    @extend .marker;
    background-color: #EFB4C3;
  }
}

.beijing {
  .marker-1 {
    @extend .marker;
    background-color: #A2B2BF;
  }
  .marker-2 {
    @extend .marker;
    background-color: #8E340F;
  }
  .marker-3 {
    @extend .marker;
    background-color: #D2BF94;
  }
}

.tokyo {
  .marker-1 {
    @extend .marker;
    background-color: #e75e5a;
  }
  .marker-2 {
    @extend .marker;
    background-color: #008b00;
  }
  .marker-3 {
    @extend .marker;
    background-color: #44c5f1;
  }
  .marker-4 {
    @extend .marker;
    background-color: #cc98c1;
  }
  .marker-5 {
    @extend .marker;
    background-color: #374244;
  }
}

.miyajima {
  .marker-1 {
    @extend .marker;
    background-color: #9F1B00;
  }
  .marker-2 {
    @extend .marker;
    background-color: #8fa49d;
  }
  .marker-3 {
    @extend .marker;
    background-color: #edcd54;
  }
  .marker-4 {
    @extend .marker;
    background-color: #515418;
  }
  .marker-5 {
    @extend .marker;
    background-color: #efe7dc;
  }
}
