.highlight {
  border-bottom: 5px solid $highlight;
  padding-bottom: 1px;
}

.about-container {
  @include container-pad(10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $about-background;
  .profile-picture {
    flex: 1;
    padding-right: 5rem;
    text-align: center;
    img {
        border-radius: 50%;
        height: auto;
        width: 90%;
    }
  }
  .info {
    flex: 2;
    font-family: $font-body;
    font-size: 0.9rem;
    line-height: 2.5rem;
  }
}

.project-container {
  @include container-pad(7rem);
  background-color: $project-background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: $off-white;
  height: auto;
  width: 40%;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 5px;
  line-height: 1.5rem;
  margin-bottom: 5rem;
  box-shadow: $default-shadow;
  .header {
    display: flex;
    font-family: $font-header;
    margin-bottom: 2rem;
    .title {
      flex: 3;
      font-size: 1rem;
    }
    .link {
      flex: 1;
      text-align: right;
      color: $highlight;
      text-align: right;
    }
  }
  .description {
    font-family: $font-body;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}

.other-container {
  @include container-pad(15rem);
  height: 100vh;
  background-color: $misc-background;
  font-size: 0.9rem;
  .intro {
    font-family: $font-body;
    padding-bottom: 5rem;
  }
  .hobbies {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .hobby-container {
      width: 25%;
      background-color: $off-white;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: $default-shadow;
    }
    .header {
      display: flex;
      flex-direction: row;
      font-family: $font-header;
      align-items: center;
      .title {
        letter-spacing: 0.1rem;
        flex: 0 0 auto;
        padding-right: 5px;
      }
      .decoration {
        flex: 1;
        height: 2px;
        margin-bottom: 3px;
        background-color: black;
      }
    }
    .items {
      padding: 1rem 0rem;
    }
    .item {
      padding: 0.5rem 0rem;
      font-family: $font-body;
    }
  }
}

@media screen and (max-width: 1350px) {
  .project-container {
    justify-content: center;
    .card {
      width: 90%;
    }
  }
  .photography-container .photos-container .photo {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .about-container {
    .profile-picture {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-container,
  .project-container,
  .photography-container {
    padding: 5rem;
    .card {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-container,
  .project-container,
  .photography-container {
    padding: 2rem;
  }
}
