$body-stack: Quattrocento Sans, Sans-Serif;
$header-stack: Montserrat, Sans-Serif;
$white: 'white';
$primary-blue: #2196F3;
$primary-green: #4CAF50;

body, html {
  background-color: $white;
  padding: 0;
  margin: 0;
  height: 100%;
}

.bio_link:hover {
  cursor: pointer;
}

.highlight {
  color: $primary-blue;
  font-weight: bold;
  & a {
    color: $primary-blue !important;
  }
}

.container {
  display: flex;
  height: 65%;
  width: 40%;
  flex-direction: column;
  padding-left: 150px;
}

.absoluteCenter {
  justify-content: center;
  align-items: center;
}

.aboutText {
	color: black;
}

.projectsHeader {
  margin-top: 50px;
}

.tags {
  display: flex;
  flex-direction: row;
}

.tag {
  padding: 8px 12px 8px 12px;
  margin-right: 24px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-family: $body-stack;
  & > span {
    font-size: 14px;
  }
}

// Extend in case ever wanted to do different color for each
.react {
  @extend .tag;
  border: 2px solid $primary-blue;
  background-color: $primary-blue;
  width: 100px;
  & > span {
    color: white;
  }
}

.about > p > a {
  // Won't change on link click!
  color: black !important;
}

.projects {
  margin-bottom: 115px;
}

a {
	text-decoration: none;
}

h2 {
    padding-left: 0px;
    margin-top: 25px;
    margin-left: 0px;
    text-align: left;
    font-family: $header-stack;
    color: $primary-blue;
    font-size: 30px;
}

h3 {
	font-family: $header-stack;
	font-size: 14px;
  color: $primary-blue;
  padding-left: 0px;
  margin-left: 0px;
	margin-top: 0px;
}

p {
	font-family: $body-stack;
	font-size: 14px;
  line-height: 20px;
}

li {
	color: $white;
	font-family: $body-stack;
}

b {
	font-family: $header-stack;
	font-size: 14px;
}


@media (max-width: 800px) {
  .container {
    display: block !important;
    height: auto !important;
    width: 80% !important;
    padding-left: 10% !important;
  }
  h2 {
    margin-top: 25px !important;
  }
  .projects {
    margin-top: 75px !important;
  }
}
