@font-face {
  font-family: 'Avenir-Bold';
  src: url("./fonts/AvenirNextLTPro-Demi.otf") format("truetype");
}

@font-face {
  font-family: 'Avenir-Regular';
  src: url("./fonts/AvenirNextLTPro-Regular.otf") format("truetype");
}

html {
  font-family: "Avenir-Regular", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.info-container {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.info-item .color-bar {
  height: 1.5rem;
  width: 0.25rem;
  margin-right: 0.5rem;
}

.info-item .description {
  padding-top: 0.3rem;
  font-size: 0.9rem;
}

.info-item .email {
  cursor: pointer;
}
