.introText {
    font-family: 'Quattrocento Sans';
    font-size: 17px !important;
    text-align: center;
    color: #E8E8E8;
}

.name {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 150px;
    text-align: center;
    line-height: 25px;
    color: #E8E8E8;
}

h2 {
    padding-left: 0px;
    margin-left: 0px;
    text-align: left;
    font-family: Montserrat;
    font-size: 30px;
    margin-top: 0px;
}

.typed-cursor{
    opacity: 1;
    font-family: Montserrat;
    font-size: 30px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.hello {
	cursor: pointer;
	display: inline;
}

.rowFix {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


/*  card background #F7F7F7  */

.card {
	background-color: #F0F0F0;
}

u {
    border-bottom: solid 2px #E8E8E8;
    display: inline;
    padding-bottom: 5px;
    text-decoration: none;
}

.projects {
	background-color: #66333F;
	height: 100%;
	width: 100%;
	padding-top: 100px;
}

.projectLink {
	font-family: Montserrat;
}

.header {
	background-color: #3e6169;
	height: 375px;
	width: 100%;
}

.about {
	background-color: #9F5349;
	height: 100%;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}

.aboutText { 
	color: #F7F7F7 !important;
}

.aboutText > p > a {
	color: #F7F7F7 !important;
}

.footer {
	background-color: #3e6169;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

h4 {
	font-family: Montserrat;
	font-size: 13px;
	margin-top: 0px;
}

h3 {
	font-family: Montserrat;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}

.btn {
	font-family: Montserrat;
	color: black !important;
}

p {
	font-family: 'Quattrocento Sans', Sans-Serif;
	font-size: 15px;
}

li {
	color: #E8E8E8;
	font-family: 'Quattrocento Sans';
}

b {
	font-family: Montserrat;
	font-size: 15px;
	color: black;
}

.languages {
	font-family: Montserrat;
	color: #F7F7F7;
	margin-top: 0px;
}

.htmlTag, .meteorTag, .nodeTag, .javaTag {
    border: 3px solid #EF6C77;
    background-color: #E8E8E8 !important;
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
    float: left;
    height: 40px;
    font-size: 10px;
}

.htmlTag {
    border: 3px solid #49C4D8 !important;
}

.nodeTag {
    border: 3px solid #AE83EE !important;
}

.javaTag {
    border: 3px solid #DBA70E !important;
}

.footerRow {
	padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;

}

@media (min-width: 600px) {
  .footerRow {
    padding-left: 100px;
    padding-right: 100px;
  }
  .footertextR {
  	text-align: right;
  }
}

.footertextL {
    color: white;
    font-size: 12px !important;
    text-align: left;
    font-family: 'Quattrocento Sans', sans-serif;
}

.footertextR {
    color: white;
    font-size: 12px !important;
    
    font-family: 'Quattrocento Sans', sans-serif;
}

.footertextL a {
    color: white;
}

.footertextL a:hover {
    text-decoration: underline;
}

.footertextR a {
    color: white;
}

.footertextR a:hover {
    text-decoration: underline;
}
