.travel-container {
  @include container-pad(7rem);
  background-color: $blog-background-color;
  ::selection {
    background-color: #FFC3C1;
  }
}

.cover-img {
  width: 100%;
  height: 100%;
  background-color: $blog-background-color;
  img {
    width: 100vw;
    height: auto;
  }
}

.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4rem 2rem 4rem;
  background-color: white;
  opacity: 0.85;
  .title {
    font-family: $font-header;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sub-title {
    letter-spacing: 0.15rem;
    margin-bottom: 2rem;
  }
  .down-arrow {
    height: 0.5rem;
    width: auto;
  }
}

.travel-path-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.travel-path {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 2rem;
  img {
    height: 0.5rem;
    width: auto;
    margin: 0rem 0.75rem;
  }
}

.travel-blog-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
  margin-bottom: 3rem;
  font-family: $font-header;
  .color-pallete {
    margin-bottom: 1.5rem;
    min-height: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .title {
    font-family: $font-header;
  }
}

.travel-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .travel-intro {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
  }
}

.photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  img {
    width: 100%;
    height: auto;
  }

}

.photo-caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
  padding: 0rem 3.5rem;
  .photo-container {
    width: 40%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .caption {
    width: 50%;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.photo-one-third {
  @extend .photo;
  width: 31%;
}

.photo-two-thirds {
  @extend .photo;
  width: 64%;
}

.photo-one-half {
  @extend .photo;
  width: 48%;
}

@media (max-width: 600px) {
  .photo {
    width: 100% !important;
  }
  .photo-caption {
    padding: 0rem;
    flex-direction: column;
    .photo-container {
      width: 100%;
      margin-bottom: 1rem;
    }
    .caption {
      width: 75%;
    }
  }
}
