/*
Errno::ENOENT: No such file or directory - main.scss

Backtrace:
org/jruby/RubyIO.java:3738:in `read'
org/jruby/RubyIO.java:3917:in `read'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/ben/.rvm/rubies/jruby-1.7.6/lib/ruby/gems/shared/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/ben/.rvm/gems/jruby-1.7.6@global/gems/sass-3.4.22/bin/sass:13:in `(root)'
org/jruby/RubyKernel.java:1101:in `load'
/Users/ben/.rvm/rubies/jruby-1.7.6/bin/sass:1:in `(root)'
org/jruby/RubyKernel.java:1121:in `eval'
/Users/ben/.rvm/gems/jruby-1.7.6@global/bin/jruby_executable_hooks:15:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - main.scss"; }
